@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 227 19% 22%;
  --card: 0 0% 100%;
  --card-foreground: 227 19% 22%;
  --popover: 0 0% 100%;
  --popover-foreground: 227 19% 22%;
  --primary: 20 83% 63%;
  --primary-foreground: 0 0% 100%;
  --secondary: 132 15% 75%;
  --secondary-foreground: 227 19% 22%;
  --muted: 132 15% 75%;
  --muted-foreground: 214 19% 39%;
  --accent: 214 20% 39%;
  --accent-foreground: 0 0% 100%;
  --destructive: 8 50% 47%;
  --destructive-foreground: 0 0% 100%;
  --border: 180 1% 75%;
  --input: 180 1% 75%;
  --ring: 20 83% 63%;
  --chart-1: 20 83% 63%;
  --chart-2: 214 20% 39%;
  --chart-3: 227 19% 22%;
  --chart-4: 132 15% 75%;
  --radius: 0.5rem;
  --sidebar: 227 19% 22%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 20 83% 63%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 214 20% 39%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 214 20% 39%;
  --sidebar-ring: 20 83% 63%;
  --success: 214 20% 39%;
  --success-foreground: 0 0% 100%;
  --warning: 20 83% 63%;
  --warning-foreground: 0 0% 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
    background-image:
      radial-gradient(circle at top left, rgba(239, 131, 84, 0.16), transparent 22%),
      linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(191, 192, 192, 0.22));
  }

  html {
    color-scheme: light;
  }
}
